<h1 class="title">Overview</h1>

<div class="statistics">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Last Month's Statistics</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      @if(loading()) {
      <div class="loading-container">
        <mat-spinner></mat-spinner>
      </div>
      }
      <!--  -->
      @else if(error()) {
      <div class="error">
        <p>{{ error() }}</p>
      </div>
      }
      <!--  -->
      @else {
      <div class="stat-item">
        <strong>Orders:</strong>
        <span>{{ statistics().number_of_orders_last_month }}</span>
      </div>
      <div class="stat-item">
        <strong>Customers:</strong>
        <span>{{ statistics().number_of_customers_last_month }}</span>
      </div>
      <div class="stat-item">
        <strong>Books in database:</strong>
        <span>{{ statistics().total_books_count }}</span>
      </div>
      <div class="stat-item">
        <strong>Profit from sales:</strong>
        <span>{{ statistics().total_sales_last_month | currency }}</span>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>

<app-orders-history />
