.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 800px;
  min-height: 300px;
  max-height: 400px;
  margin: auto;
  margin-bottom: 3rem;
}

.statistics div {
  border-radius: 1.4rem;
  padding: 1.8rem;
  background-color: #428257;
  color: #ffb9a7;
}

p {
  margin-top: 0.2rem;
}

span {
  font-weight: 700;
}

/* ////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .statistics {
    gap: 1rem;
    width: 90%;
  }
}
@media (max-width: 640px) {
  .statistics {
    width: 95%;
    grid-template-columns: 1fr;
  }
  .statistics div {
    padding: 1rem 0.4rem;
  }
}
