.statistics {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card {
  width: 400px;
  padding: 8px;
}

mat-card-content {
  min-height: 100px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error p {
  color: rgb(212, 95, 95);
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stat-item span {
  font-size: 1.2em;
}

mat-card-title {
  font-weight: 600;
  font-size: 1.6rem;
}
