<mat-toolbar class="navbar">
  <button mat-icon-button class="menu" (click)="onToggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/logo.png" alt="Site Logo" class="logo" />
  <h1 class="title">Dashboard</h1>
  <span class="space"></span>

  <a
    mat-raised-button
    closeNavbar
    routerLink="/dashboard/manage-books"
    routerLinkActive="active"
    >Manage books</a
  >
  <a
    mat-raised-button
    closeNavbar
    routerLink="/dashboard/add-book"
    routerLinkActive="active"
    >Add book</a
  >

  <a
    mat-raised-button
    closeNavbar
    routerLink="/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Overview</a
  >
  <a mat-raised-button closeNavbar routerLink="/books">Home</a>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="over" [opened]="isOpenSidebar()" class="sidenav">
    <div class="sidenav-content">
      <a
        mat-raised-button
        closeNavbar
        routerLink="/dashboard/manage-books"
        routerLinkActive="active"
        >Manage books</a
      >
      <a
        mat-raised-button
        closeNavbar
        routerLink="/dashboard/add-book"
        routerLinkActive="active"
        >Add book</a
      >

      <a
        mat-raised-button
        closeNavbar
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Overview</a
      >
      <a mat-raised-button closeNavbar routerLink="/books">Home</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="rendered-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
