.form-container {
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
}

.full-width {
  width: 100%;
}

.loading-button {
  width: 100%;
  border-radius: 0.4rem;
  padding: 1rem;
}

.error {
  padding-top: 1rem;
}
