<form class="form-container" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  @if(isUpdating){
  <h1>Update a book</h1>
  } @else {
  <h1>Add a book</h1>
  }
  <!-- Title Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id="title" formControlName="title" />
    @if(getValidity('title')){
    <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <!-- Author Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput id="author" formControlName="author" />
    @if(getValidity('author')){
    <mat-error>Author is required</mat-error>
    }
  </mat-form-field>

  <!-- Description Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="description"
      formControlName="description"
    ></textarea>
    @if(getValidity('description')){
    <mat-error>Description needs to have at least 50 characters.</mat-error>
    }
  </mat-form-field>

  <!-- Price Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput id="price" type="number" formControlName="price" />
    @if(getValidity('price')){
    <mat-error>Minimum price is $5.00.</mat-error>
    }
  </mat-form-field>

  <!-- Year Published Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Year Published</mat-label>
    <input
      matInput
      id="yearPublished"
      type="number"
      formControlName="yearPublished"
    />
    @if(getValidity('yearPublished')){
    <mat-error>Year must be 1900 or later</mat-error>
    }
  </mat-form-field>

  <!-- Cover Image URL Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Cover Image URL</mat-label>
    <input matInput id="coverImage" formControlName="coverImage" />
    @if(getValidity('coverImage')){
    <mat-error>Cover image URL is required</mat-error>
    }
  </mat-form-field>

  <!-- Pages Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Pages</mat-label>
    <input matInput id="pages" type="number" formControlName="pages" />
    @if(getValidity('pages')){
    <mat-error>Pages must be at least 1</mat-error>
    }
  </mat-form-field>

  <!-- Rating Input Group -->
  <mat-form-field class="form-item" appearance="fill">
    <mat-label>Rating</mat-label>
    <input
      matInput
      id="rating"
      type="number"
      step="0.1"
      min="0"
      max="5"
      formControlName="rating"
    />
    @if(getValidity('rating')){
    <mat-error>Rating must be between 0 and 5</mat-error>
    }
  </mat-form-field>

  <!-- Is Available Input Group -->
  <div class="form-item checkbox">
    <mat-checkbox id="isAvailable" formControlName="isAvailable"
      >Is Available</mat-checkbox
    >
  </div>

  <!-- Genres Input Group -->
  <div class="form-item">
    <label class="label-genres">Genres:</label>
    <mat-chip-set class="genres">
      @for (genre of genres(); track genre.id) {
      <mat-chip
        (click)="toggleGenre(genre.id)"
        [ngClass]="{ 'selected-genre': isGenreSelected(genre.id) }"
        class="genre-item"
      >
        {{ genre.genre }}
      </mat-chip>
      }
    </mat-chip-set>
    @if(bookForm.get('genres')?.invalid){
    <mat-error>Must select between 1 and 3 genres.</mat-error>
    }
  </div>

  <button mat-flat-button color="primary" type="submit">
    {{ loading() ? "Loading..." : isUpdating ? "Update a book" : "Add a book" }}
  </button>
</form>
