.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  border-radius: 30px;
}

.selected-genre.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #b8dcff;
}

h1 {
  font-size: 2.2rem;
}

button {
  border-radius: 10px;
}

.label-genres {
  text-align: left;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.genre-item {
  flex: 1;
  white-space: nowrap;
}

.mdc-evolution-chip,
.mdc-evolution-chip__cell,
.mdc-evolution-chip__action {
  display: block;
}

.checkbox {
  align-items: flex-start;
}

@media (max-width: 600px) {
  .form-container {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}
