.item {
  background-color: #ffb9a7;
  color: #428257;
}

td {
  padding: 0.1rem 0rem;
  border-radius: 0.2rem;
}

.image,
.icon span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 60px;
  border-radius: 0.2rem;
}

.title-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.icon span {
  cursor: pointer;
}

select,
option {
  background-color: #ffb9a7;
  color: #428257;
  font-weight: 600;
  border-radius: 0.2rem;
  outline: none;
}

:host {
  cursor: pointer;
}

:host:nth-of-type(even) {
  background: #47875c;
}

@media (max-width: 1000px) {
  td {
    flex: 1;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }
}
