td {
  padding: 0.5rem 0rem;
  border-radius: 0.2rem;
}

select,
option {
  background-color: #ffb9a7;
  color: #428257;
  font-weight: 600;
  border-radius: 0.2rem;
  outline: none;
}

:host {
  cursor: pointer;
}

:host:nth-of-type(even) {
  background: #44875a;
}

:host:hover {
  background: #438157;
}

@media (max-width: 640px) {
  td {
    flex: 1;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }
}
