.cart-card {
  max-width: 700px;
  margin: auto;
  border-radius: 20px;
  padding: 1rem;
}

.cart-card mat-card-content {
  padding: 0 !important;
}

mat-card-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.table {
  min-width: 500px;
  width: 100%;
}

.table-container {
  overflow: auto;
}

img {
  height: 50px;
  border-radius: 3px;
}

.main-loading,
.main-error,
.no-items {
  height: 200px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-items mat-icon,
.main-error mat-icon {
  scale: 2;
}

mat-icon {
  cursor: pointer;
}

.delete-all {
  display: flex;
  justify-content: end;
  margin: 0.6rem;
}

.billing-summary {
  max-width: 300px;
  width: 100%;

  border-radius: 2rem;
  margin: auto;
}

.billing-summary p {
  display: flex;
  justify-content: space-between;
}

.billing-summary span {
  font-weight: 600;
}

.payment-card {
  background-color: #f1f1f1;
  max-width: 350px;
  margin: auto;
  margin-top: 2rem;
  padding: 0.2rem;
  padding-bottom: 1rem;
}
