.cart {
  position: relative;
  background-color: #428257;
  color: #ffb9a7;
  width: 800px;
  min-height: 300px;
  max-height: 400px;
  margin: auto;
  border-radius: 2rem;
  padding: 1rem;
  overflow: auto;
}

.no-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.no-items span {
  font-size: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.titles th {
  padding-bottom: 1rem;
}

.error {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 4rem 0rem;
  color: #b66841;
}
.line {
  height: 3px;
  background: #ffb9a7;
  margin: 1rem auto;
  width: 100%;
}

.billing-summary {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total {
  border-top: 3px solid #ffb9a7;
  margin-top: 0.5rem;
  padding-top: 0.2rem;
  font-weight: 700;
}

.billing-summary p span {
  font-weight: 600;
}

.billing-address {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.tr-item:hover {
  background: #438157;
}

.delete-books-icon {
  display: flex;
  justify-content: end;
  margin-top: 0.6rem;
}
.delete-books-icon span {
  font-size: 3rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cart {
    width: 95%;
    max-height: 600px;
  }
  tr {
    flex: 1;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }
  table {
    overflow-x: scroll;
  }
}
