<mat-card class="card" (click)="onGetBookById(book().id)">
  <img
    mat-card-image
    [src]="book().cover_image ? book().cover_image : 'assets/logo.png'"
    alt="{{ book().title }} cover image"
  />

  <div class="info">
    <span class="space"></span>

    @if(isAdminManageBooks()) {
    <div class="dashboard-buttons">
      <button
        mat-raised-button
        color="primary"
        class="update"
        (click)="goToUpdatePage($event)"
      >
        Update
      </button>
      <button
        mat-raised-button
        color="warn"
        class="delete"
        (click)="onDeleteBook($event)"
      >
        Delete
      </button>
    </div>
    } @else {
    <button
      mat-flat-button
      color="accent"
      class="add-to-cart"
      [disabled]="!book().is_available"
      (click)="onAddToCart($event)"
    >
      {{
        loading()
          ? "ADDING..."
          : book().is_available
          ? "ADD TO CART"
          : "OUT OF STOCK"
      }}
    </button>
    }
  </div>
</mat-card>
