.card {
  height: 300px;
  width: 190px;
  position: relative;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  filter: sepia(0);
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  filter: sepia(0.7);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1 1 auto;
}

.availability {
  font-size: 1rem;
  color: #888;
}

.dashboard-buttons,
.add-to-cart {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.update,
.delete {
  width: 48%;
}

.add-to-cart {
  width: 100%;
  justify-content: center;
}

@media (max-width: 530px) {
  .card {
    width: 90%;
    height: auto;
    aspect-ratio: 0.6;
  }
}
