<mat-toolbar class="navbar">
  <button mat-icon-button class="menu" (click)="onToggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/logo.png" alt="Site Logo" class="logo" />
  <h1 class="title">Book Nook</h1>
  <span class="space"></span>

  <a mat-raised-button closeNavbar routerLink="/books" routerLinkActive="active"
    >Books</a
  >

  @if(isLoggedIn()){ @if(isAdmin()){
  <a
    mat-raised-button
    closeNavbar
    routerLink="/dashboard"
    routerLinkActive="active"
    >Dashboard</a
  >}

  <a
    mat-raised-button
    closeNavbar
    routerLink="/order/history"
    routerLinkActive="active"
    >Order history</a
  >
  <a mat-raised-button closeNavbar (click)="onLogout()">Logout</a>
  }@else {

  <a mat-raised-button closeNavbar routerLink="login" routerLinkActive="active"
    >Log in</a
  >

  <a
    mat-raised-button
    closeNavbar
    routerLink="register"
    routerLinkActive="active"
    >Register</a
  >
  }
  <a
    mat-icon-button
    class="cart"
    routerLink="cart"
    aria-label="Shopping cart button"
  >
    <mat-icon
      [matBadge]="totalItemsInCart()"
      matBadgeSize="medium"
      aria-hidden="false"
      >shopping_cart</mat-icon
    >
  </a>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="over" [opened]="isOpenSidebar()" class="sidenav">
    <div class="sidenav-content">
      <a
        mat-raised-button
        closeNavbar
        routerLink="/books"
        routerLinkActive="active"
        >Books</a
      >

      @if(isLoggedIn()){ @if(isAdmin()){
      <a
        mat-raised-button
        closeNavbar
        routerLink="/dashboard"
        routerLinkActive="active"
        >Dashboard</a
      >}
      <a
        mat-raised-button
        closeNavbar
        routerLink="/order/history"
        routerLinkActive="active"
        >Order history</a
      >
      <a mat-raised-button closeNavbar (click)="onLogout()">Logout</a>
      }@else {

      <a
        mat-raised-button
        closeNavbar
        routerLink="login"
        routerLinkActive="active"
        >Log in</a
      >

      <a
        mat-raised-button
        closeNavbar
        routerLink="register"
        routerLinkActive="active"
        >Register</a
      >
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="rendered-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
