<h1 class="title">Choose your favourite book...</h1>

<div class="pagination-info">
  <form [formGroup]="searchForm">
    <mat-form-field class="example-full-width">
      <mat-label>Search your book...</mat-label>
      <input matInput id="search" name="search" formControlName="search" />
    </mat-form-field>
  </form>
  <p>
    Total Books: <span>{{ paginationInfo().totalBooks }}</span>
  </p>
</div>

@if(loading()){
<p class="main-loading"><mat-spinner></mat-spinner></p>
}
<!--  -->
@else if(error()){
<div class="error">
  <mat-icon color="warn">error_outline</mat-icon>
  <p>{{ error() }}</p>
</div>
}
<!--  -->
@else {
<div class="books-grid">
  @for(book of books(); track book.id){
  <app-book-item [book]="book" />
  } @empty {
  <p class="empty">No books here... Sorry... 😯</p>
  }
</div>

<mat-paginator
  class="paginator"
  (page)="onChangePaginator($event)"
  [length]="paginationInfo().totalBooks"
  [pageSize]="limit()"
  [pageIndex]="page()"
  [pageSizeOptions]="[10, 20, 30]"
  aria-label="Select page"
>
</mat-paginator>
}
