.container {
  background-color: transparent;
  overflow: hidden;
  max-width: 1200px;
  margin: 0rem auto;
}
.sidenav {
  position: fixed;
  top: 96px;
  height: calc(100vh - 96px);
  background-color: #f3f0e7;
  display: none;
}

.navbar {
  background-color: #f3f0e7;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  z-index: 1000;
}

.menu {
  display: none;
}

.space {
  flex: 1 1 auto;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  gap: 1rem;
}

.rendered-content {
  padding: 3rem;
  margin: auto;
  text-align: center;
}

@media (max-width: 976px) {
  .navbar a:not(.cart) {
    display: none;
  }

  .menu {
    display: block;
  }

  .sidenav {
    display: block;
  }
}
@media (max-width: 600px) {
  .rendered-content {
    padding: 3rem 1.6rem;
  }
}

@media (max-width: 480px) {
  .sidenav {
    width: 100%;
  }
  .rendered-content {
    padding: 3rem 0.6rem;
  }
}

.active {
  background-color: rgb(66, 106, 216) !important;
  color: whitesmoke !important;
}
