mat-card {
  max-width: 700px;
  margin: auto;
  border-radius: 20px;
  padding: 0rem 1rem;
}

mat-card-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.table {
  min-width: 500px;
  width: 100%;
}

.table-container {
  overflow: auto;
}

.main-loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info p span {
  font-size: 1.2em;
}

.error p {
  color: rgb(176, 60, 60);
}

.info p span {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .info p span {
    font-size: 1rem;
  }
  mat-card mat-card-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
