<form [formGroup]="form()" (submit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Address</mat-label>
    <input matInput id="address" formControlName="address" />
    @if(getValidity('address')) {
    <mat-error> Address has to be at least 6 characters long. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Credit card</mat-label>
    <input
      matInput
      placeholder="3482-****-7536-1692"
      type="text"
      id="credit-card"
      formControlName="credit-card"
    />
    @if(getValidity('credit-card')) {
    <mat-error> Card must have 16 digits. </mat-error>
    }
  </mat-form-field>

  <button mat-flat-button color="primary" class="pay-button" type="submit">
    {{ checkoutLoading() ? "Ordering..." : "Pay & order" }}
  </button>
</form>
