tr.mat-mdc-row {
  cursor: pointer;
}

mat-card {
  max-width: 700px;
  margin: auto;
  border-radius: 20px;
  padding: 1rem 1rem;
}

mat-card-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.table {
  min-width: 500px;
  width: 100%;
}

.table-container {
  overflow: auto;
}

.main-loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  height: 200px;
}

@media (max-width: 700px) {
  mat-card {
    padding: 0rem;
  }
}
