<mat-card class="book-card">
  @if (loading()) {
  <div class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (error()) {
  <div class="error-container">
    <mat-icon color="warn">error</mat-icon>
    <p class="main-error">{{ error() }}</p>
  </div>
  } @else {
  <mat-card-header class="header">
    <div class="rating">
      <p>{{ book().rating }}</p>
      <mat-icon aria-hidden="false">star</mat-icon>
    </div>
    <img
      mat-card-avatar
      [src]="book() ? book().cover_image : 'assets/logo.png'"
      alt="{{ book().title }} cover image"
      class="book-cover"
    />
    <mat-card-title class="title">{{ book().title }}</mat-card-title>
    <mat-card-subtitle class="author"
      >by: {{ book().author }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="info">
      <p class="description"><span>Overview:</span> {{ book().description }}</p>
      <div class="pages-year">
        <p>
          Pages: <span>{{ book().pages }}</span>
        </p>
        <p>
          Published: <span>{{ book().year_published }}</span>
        </p>
      </div>
      <div class="chip-container">
        <mat-chip-set aria-label="Book genres">
          @for (genre of book().genres; track genre) {
          <mat-chip color="primary">{{ genre }}</mat-chip>
          }
        </mat-chip-set>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="actions">
    <p>
      Price: <span>{{ book().price | currency }}</span>
    </p>
    <button
      mat-flat-button
      color="primary"
      (click)="onAddToCart()"
      [disabled]="!book().is_available"
    >
      {{
        addBookLoading()
          ? "ADDING..."
          : book().is_available
          ? "ADD TO CART"
          : "Out of stock"
      }}
    </button>
  </mat-card-actions>
  }
</mat-card>
