.book-card {
  width: 500px;
  min-width: 400px;
  min-height: 300px;
  padding: 0.4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  gap: 1.4rem;
}

.loading-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.error-container p {
  color: rgb(165, 66, 66);
  font-size: 1.2rem;
  font-weight: 500;
}

.header {
  position: relative;
  width: 100%;
}

.chip-container {
  display: flex;
  justify-content: center;
}

img {
  height: 130px;
  width: auto;
  border-radius: 10px;
  object-fit: contain;
}

.title {
  font-size: 1.8rem;
  margin-right: 2.2rem;
  margin-bottom: 0.7rem;
}

.author {
  font-style: italic;
}

.title,
.author {
  text-align: left;
}

.description {
  font-size: 1.2rem;
  font-style: italic;
}

.description span {
  font-weight: 500;
}

.pages-year {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.rating {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
}

.actions {
  width: 100%;
}

p {
  margin: 0;
}

.actions p span {
  font-weight: 600;
}

.actions p,
.actions button {
  width: 100%;
}

@media (max-width: 600px) {
  .book-card {
    width: 100%;
    min-width: 350px;
  }
  .title {
    font-size: 1.5rem;
    margin-right: 2.2rem;
  }
}
